.footer {
  bottom: 0;
  background-color: lightgrey;
  height: 5rem;
  margin-top: 5rem;
  display: flex;
  align-items: center;
  // flex-direction: row;

  p { font-size: 12px; }

  .footer__section-third {
    flex: 1;
    height: 2rem;
    display: flex;
    align-items: center;
    padding: 1rem;
    // padding: 0rem  1rem 0rem 1rem;
  }

  .form__newsletter {
    width: 25rem;
    margin: 0;
    flex: 1;
    color: blue;

    form {
      display: flex;
      height: 2rem;
    }

    .input__newsletter.email {
      border: 1px solid black;
      flex: 3;
    }

    .email:focus { outline: none; }

    .input__newsletter-button {
      background-color: black;
      font-family: 'Times New Roman', Times, serif;
      text-transform: uppercase;
      letter-spacing: .2em;
      font-weight: 400;
      border: 1px solid black;
      color: white;
      flex: 1;
    }
  }

  .icon__cookie {
    width: 2rem;
    height: auto;
    margin: .5rem;
  }

  .social-lineup {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;

    .icon__social {
      width: 1.5rem;
      height: auto;
      margin: .5rem;
    }
  }
}